@model FilmDB.Models.FilmModel

@{
    ViewData["Title"] = "Usuń film";
}

<h1>Usuń film</h1>

<h3>Czy na pewno chcesz usunąć?</h3>
<div>
    <h4>Szczegóły</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>
    
    <form asp-action="RemoveConfirm">
        <input type="hidden" asp-for="ID" />
        <input 
            type="submit" 
            value="Potwierdź usunięcie" 
            class="btn btn-danger" 
        /> |
        <a asp-action="Index">Powrót na listę</a>
    </form>
</div>
